#
# Sample post-receive hook configuration
#

email_mention: # No hook-specific settings

notify:
    # Notify owners when their files changes on these branches
    - refs/heads/master
    - refs/heads/release/.*
