{
    "restrict_branches": [{
                "policy": "allow",
                "type"  : "create",
                "branch": ".*",
                "user"  : ".*"
            },
            {
                "policy": "allow",
                "type"  : "update",
                "branch": ".*",
                "user"  : ".*"
    }],

    "py_indent": [],

    "line_endings": [],

    "deny_non_ff": [
        "refs/heads/master",
        "refs/heads/release/.*"
    ],

    "pycheck": []
}
